# Ignore node_modules in both backend and frontend
/backend/node_modules
/frontend/node_modules

# Ignore environment files in both backend and frontend
/backend/.env
/frontend/.env


# Ignore OS-specific files
.DS_Store
Thumbs.db


# Ignore log and cache files
*.log
*.cache
*.tmp

# Ignore package lock files if you don’t want to commit them (optional)
# /backend/package-lock.json
# /frontend/package-lock.json

